.a{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    background-color: red;
}
#b{
    background-color: black;
    width: 85px;
    min-height: 100vh;
    color:whitesmoke;
}
#b li{
    list-style: none;
    padding: 10px;
    color: white;
}
#b li:hover{
    background-color: #05c247;
    cursor: pointer;
}