.nav{
    background-color: #282c34;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
  
}
.home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
column-gap: 20px;
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin: 20px;
    padding: 20px;
    border-radius: 10px;
    max-height: 100vh;
}
.box{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}